/* Reset from Slaying The Dragon on youtube */
/* https://youtu.be/nSst4-WbEZk?t=1030 */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

/* --------------------------------- */

body {
  display: flex;
  justify-content: center;
}

#gamebox {
  margin-top: 10vh;
  background-color: grey;
  border: 8px solid rgb(163, 140, 8);
  width: 80%;
  height: 80vh;

  display: grid;
  grid-template-columns: repeat(13, 1fr);
  grid-template-rows: repeat(9, 1fr);
  grid-template-areas:
    "menu menu menu map map map map map map map map map map"
    "menu menu menu map map map map map map map map map map"
    "menu menu menu map map map map map map map map map map"
    "menu menu menu map map map map map map map map map map"
    "menu menu menu map map map map map map map map map map"
    "menu menu menu map map map map map map map map map map"
    "menu menu menu act act act act act act act act act act"
    "menu menu menu act act act act act act act act act act"
    "menu menu menu act act act act act act act act act act";
}

#menu {
  background-color: aqua;
  grid-area: menu;

  display: flex;
  flex-direction: column;
  align-items: center;
}

#zone1 {
  background-color: beige;
  grid-area: map;
}

#zone2 {
  background-color: brown;
  grid-area: act;
}

.map {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#mapcanvas {
  /* width: 150; setting these here doesn't work
  height: 150; */
  background-color: antiquewhite;
}

.inventory {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.activity {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#activity-stats,
#activity-zoneprog {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  background-color: lightgray;
  border: 2px solid black;
  border-radius: 4px;
}

#activity-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.activity-label {
  font-size: small;
  margin-bottom: -0.6rem;
}

.activity-number {
  font-size: large;
}

#activity-progress {
  width: 200px;
  height: 50px;
  background-color: beige;
  border: 2px solid black;
  border-radius: 8px;
}

#activity-fill {
  height: 100%;
  width: 0%;
  background-color: green;
  border-radius: 4px;
}

#upgrade-button {
  max-width: 6rem;
  padding: 0.5rem;
}
.htext {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.m-btn {
  width: 100%;
  padding: 0.5rem;
}
